This first script is to load dataset for analysis

In [16]:
#import library
import pandas as pd
import numpy as np
import os

In [17]:
os.chdir('C:\\Github\\Python\\Kaggle\\Titanic\\Dataset')

In [18]:
#list files in folder
os.listdir()

['gender_submission.csv', 'test.csv', 'train.csv']

In [19]:
#load dataset
df_test = pd.read_csv('test.csv')

In [23]:
#shape dataset
df_test.shape

(418, 11)

In [20]:
#information about dataset
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [26]:
#verify how many informations is null
df_test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64